<section id="page-content" class="page-wrapper archive">
    <div class="zm-section single-post-wrap archive-2 bg-white ptb-15">
        <div class="container">
            <div class="row">
                <!-- Start left side -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columns">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="archive-inner">
                                <div class="archive-filter">
                                    <form action="#">
                                        <div class="sing-option zm-trending">
                                            <select name="Category" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
                                                <option value = "<%= root_path %>">Category</option>
                                                <% @news_categories.each do |category| %>
                                                    <% if @category.present? && @category.name == category.name %>
                                                        <option value = "<%=category_path(category)%>" selected="selected"><%=category.name%></option>
                                                    <% else %>
                                                        <option value = "<%=category_path(category)%>"><%=category.name%></option>
                                                    <% end %>
									        	<% end %>
                                            </select>
                                        </div>
                                        <div class="sing-option zm-state">
                                            <select name="State" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
                                            	<option value = "<%= root_path %>">State</option>
                                            	<% @all_states.each do |state| %>
                                            	    <% if @state.present? && @state.name == state.name %>
                                                        <option value = "<%=state_path(state)%>" selected="selected"><%=state.name%></option>
                                                    <% else %>
                                                        <option value = "<%=state_path(state)%>"><%=state.name%></option>
                                                    <% end %>
									        	<% end %>
                                            </select>
                                        </div>
                                        <div class="sing-option zm-state">
                                            <select name="Source" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
                                                <option value = "<%= root_path %>">Source</option>
                                                <% @active_sources.each do |source| %>
                                                    <% if @source.present? && @source.name == source.name %>
                                                        <option value = "<%=source_path(source)%>" selected="selected"><%=source.name%></option>
                                                    <% else %>
                                                        <option value = "<%=source_path(source)%>"><%=source.name%></option>
                                                    <% end %>
									        	<% end %>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if @state != nil || @category != nil || @source != nil || @searchQuery != nil %>
                        <div class="news-viewing-title-div" style="text-align: center; margin: 20px 0;">
                            <h3>Viewing news for: 
                                <span style = 'color: #2ab081;'>
                                    <% if @state != nil %> 
                                        <%= @state.name %> 
                                    <% end %> 
                                    <% if @category != nil %> 
                                        <%= @category.name %> 
                                    <% end %> 
                                    <% if @source != nil %> 
                                        <%= @source.name %> 
                                    <% end %> 
                                    <% if @searchQuery != nil %> 
                                        <%= @searchQuery %> 
                                    <% end %> 
                    
                                </span>
                            </h3>
                        </div>
                    <% end %>
                    <div class="row mt-40">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row mb-40">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="section-title">
                                        <h2 class="h6 inline-block uppercase header-button active-header-button" id = 'newest-button' onClick="changeSort('Newest')">Newest</h2>
                                        <h2 class="h6 inline-block uppercase header-button inactive-header-button" id = 'popular-button' onClick="changeSort('Popular')">Most Popular</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="zm-posts clearfix">
                                    <div id = 'article-index-new'>
                                        <%= render @recents %>
                                    </div>
                                    <div id = 'article-index-views'>
                                        <%= render @mostviews %>
                                    </div>
                                    <div class = 'article-index-new-pagination'>
                                        <%= will_paginate @recents %>
                                    </div>
                                    <div class = 'article-index-views-pagination'>
                                        <%= will_paginate @recents %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End left side -->
            </div>
        </div>
    </div>
</section>