<script>
    function saveExternalArticleClick(articleId, articleURL) {
    	$.ajax({
	      type: "PUT",
	      url: "/save_visit/" + articleId
	    });
	    //open new link
	    window.open(articleURL,'_blank');
    }
    function userArticleSave(elem, articleId) {
        console.log(elem.checked);
        <% if !logged_in? %>
            window.open('/login', '_self');
        <% else %>
            $.ajax({
                type: "PUT",
                url: "/user_article_save/" + articleId
	        });
	        
	        //change the checkboxes appropriately
	        if (elem.checked) {
	            document.getElementById("top-checkbox").checked = true;
	            document.getElementById("bottom-checkbox").checked = true;
	        }
	        else {
	            document.getElementById("top-checkbox").checked = false;
	            document.getElementById("bottom-checkbox").checked = false;
	        }
        <% end %>
    }
</script>

<style>
    .same-source img {height: 160px;}
    @media screen and (max-width: 767px) {
        .same-source img {height: auto;}
    }
</style>
<!-- Start page content -->
<div id="page-content" class="page-wrapper">
    <div class="zm-section single-post-wrap bg-white ptb-70 xs-pt-30">
        <div class="container">
            <div class="row">
                <!-- Start left side -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 columns">
                    <div class="row mb-40">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            
                            <div class="tagcloudpad">
                                <div itemprop="articleSection" class="zm-tagcloud">
                                    <% @article.states.each do |state| %>
                                        <a href="<%=state_path(state)%>"><%=state.name%></a>
                                    <% end %>
                                    <% @article.categories.each do |category| %>
                                		<a href="<%=category_path(category)%>"><%=category.name%></a>
                                    <% end %>
                                </div>
                            </div>
                            <div class="entry-meta-small clearfix mtb-20">
                                <div>
                                    <label class="switch pull-right">
                                        <!--check if article is already saved-->
                                        <% if current_user && UserArticle.where(:article_id => @article.id, :user_id => current_user.id, :saved => true).any? %>
                                            <input type="checkbox" id = "top-checkbox" checked onclick="userArticleSave(this, <%=@article.id%>);">
                                        <% else %>
                                            <input type="checkbox" id = "top-checkbox" unchecked onclick="userArticleSave(this, <%=@article.id%>);"> 
                                        <% end %>
                                    
                                        <div class="slider round" ></div> 
                                    </label>  
                                </div>
                                <div class="meta-list pull-right">
                                    <span class="post-title">SAVE THIS ARTICLE:</span> 
                                </div>
                                <div class="share-social-link pull-left" style="margin-top: 5px;">
                                    <ul class="share-buttons">
                                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcannabiznetwork.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><%= image_tag("icons/Facebook.png") %></a></li>
                                        <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fcannabiznetwork.com&text=:%20http%3A%2F%2Fcannabiznetwork.com&via=CannabizNetwork" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><%= image_tag("icons/Twitter.png") %></a></li>
                                        <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fcannabiznetwork.com&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><%= image_tag("icons/Reddit.png") %></a></li>
                                    </ul>
                                </div>
                            </div>                                    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <article itemscope itemtype="http://schema.org/Article" class="zm-post-lay-single">
                                <div class="zm-post-thumb">
                            	    <img itemprop="image" src="<%=@article.image%>" onerror="this.src='<%= asset_path 'substitutes/news-substitute.jpg' %>'" alt="<%=@article.title%>">
                                </div>
                                <div class="zm-post-dis">
                                    <div class="zm-post-header">
                                        <h2 itemprop="name" itemprop="headline" class="zm-post-title h2"><%=@article.title.titlecase%></h2>
                                        <div class="zm-post-meta">
                                            <ul>
                                                <li class="s-meta"><a href="<%= source_path(@article.source) %>" class="zm-author">
                                                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                                        <span itemprop="name"><%=@article.source.name%></span></span></a>
                                                </li>
                                                <li itemprop="datePublished" class="s-meta" style="color: #7c8c99;"><%= @article.created_at.strftime("%B %d, %Y | %I:%M %p") %></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div itemprop="articleBody" class="zm-post-content">
                                        <%frag = Nokogiri::HTML(@article.body)%>
                                        <%frag.xpath("//h1").each { |div|  div.name= "p"}%>
                                        <%frag.xpath("//h2").each { |div|  div.name= "p"}%>
                                        <%frag.xpath("//h3").each { |div|  div.name= "p"}%>
                                        <%frag.xpath("//h4").each { |div|  div.name= "p"}%>
                                        <%frag.xpath("//h5").each { |div|  div.name= "p"}%>
                                        <%frag.xpath("//h6").each { |div|  div.name= "p"}%>
                                        <%frag.xpath("//a").each { |div|  div.name= "p"}%>
                                        <%frag.xpath("//br").each { |div|  div.remove}%>
                                        <% frag = sanitize simple_format(frag.text), tags: %w(p), attributes: %w() %>
                                        <%= truncate_html frag, :length => 1000 %>
                                        <br/>
                                        <br/>
                                        <p>See Article on <%= @article.source.name %> <span class="article-link" onclick = "saveExternalArticleClick('<%=@article.id%>', '<%=@article.web_url%>')">HERE</span></p>
                                    </div>
                                    <div class="entry-meta-small clearfix ptb-40 mtb-40 border-top border-bottom">
                                        <div>
                                            <label class="switch pull-right">
                                                <!--check if article is already saved-->
                                                <% if current_user && UserArticle.where(:article_id => @article.id, :user_id => current_user.id, :saved => true).any? %>
                                                    <input type="checkbox" id = "bottom-checkbox" checked onclick="userArticleSave(this, <%=@article.id%>);">
                                                <% else %>
                                                    <input type="checkbox" id = "bottom-checkbox" unchecked onclick="userArticleSave(this, <%=@article.id%>);"> 
                                                <% end %>
                                              <div class="slider round"></div>
                                            </label>                                                    
                                        </div>
                                        <div class="meta-list pull-right">
                                            <span class="post-title">SAVE THIS ARTICLE:</span> 
                                        </div> 
                                        <div class="share-social-link pull-left" style="margin-top: 5px;">
                                            <ul class="share-buttons">
                                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcannabiznetwork.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><%= image_tag("icons/Facebook.png") %></a></li>
                                                <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fcannabiznetwork.com&text=:%20http%3A%2F%2Fcannabiznetwork.com&via=CannabizNetwork" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><%= image_tag("icons/Twitter.png") %></a></li>
                                                <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fcannabiznetwork.com&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><%= image_tag("icons/Reddit.png") %></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- End single post image format -->
                        <!--Start Similar post -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <aside class="zm-post-lay-a2-area">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="post-title mb-40">
                                            <h2 class="h6 inline-block">Other Posts By <%= @article.source.name %></h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="zm-posts clearfix">
                                        <% @same_source_articles.each do |article| %>
                                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                                <article class="zm-post-lay-a2">
                                                    <div class="zm-post-thumb same-source">
                                                        <a href="<%= article_path(article) %>">
                                                	        <img src="<%=article.image%>" onerror="this.src='<%= asset_path 'substitutes/news-substitute.jpg' %>'" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="zm-post-dis">
                                                        <div class="zm-post-header">
                                                            <h2 class="zm-post-title h2"><%= link_to article.title.truncate(60).titlecase, article_path(article)%></h2>
                                                            <div class="zm-post-meta">
                                                                <ul>
                                                                    <li class="s-meta"><%= link_to article.source.name, source_path(article.source), class: 'zm-author'%></li>
                                                                    <li class="s-meta" style = "float: right;"><%= link_to article.created_at.strftime("%B %d, %Y"), article_path(article), class: 'zm-date'%></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
                <!-- End left side -->
                <!-- Start Right sidebar -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 sidebar-warp columns">
                    <div class="row">
                        <aside class="zm-post-lay-a-area col-sm-6 col-md-12 col-lg-12 sm-mt-50 xs-mt-50">
                            <%= render :partial => "articles/top_products" %>
                        </aside>
                    </div>
                </div>
                <!-- End Right sidebar -->
            </div>
        </div>
    </div>
</div>
<!--mantis ad network-->
<script type="text/javascript">
	var mantis = mantis || [];
	mantis.push(['recommend', 'load', {
		property: '59305c4bc75f3d8c11991945',
		render: 'recommended',
		css: 'https://assets.mantisadnetwork.com/recommend.3columns.css'
	}]);
</script>
<script type="text/javascript" data-cfasync="false" src="https://assets.mantisadnetwork.com/recommend.min.js" async></script>
