<div class="col-md-6 margin">
    <article class="zm-post-lay-a1 my-feed">
        <div class="zm-post-thumb">
        	<a href="<%= article_path(article) %>">
        	    <% if Rails.env.production? %>
                    <% if article.created_at >= DateTime.new(2017, 06, 16) %>
                        <img src="<%=article.image_url(:profile_size)%>" onerror="this.src='<%= asset_path 'homepage/news-substitute.jpg' %>'" alt="<%=article.title%>">
                    <% else %>
                        <img src="<%=article.image%>" onerror="this.src='<%= asset_path 'homepage/news-substitute.jpg' %>'" alt="<%=article.title%>">
                    <% end %>
                <% else %> 
                    <img src="">
                <% end %>
            </a>
        </div>
        <div class="zm-post-dis">
            <div class="zm-post-header">
                <div class="zm-category">
                	<% article.categories.each do |category| %>
                        <a class="bg-cat-3 cat-btn" href="<%=category_path(category)%>"><%=category.name%></a>
                    <% end %>
                    <% article.states.each do |state| %>
                        <a class="bg-cat-3 cat-btn" href="<%=state_path(state)%>"><%=state.name%></a>
                    <% end %>
                </div>
                <h2 class="zm-post-title h2"><a href="<%= article_path(article) %>"><%= article.title.truncate(60).titlecase if article.title %></a></h2>
                <div class="zm-post-meta">
                    <ul>
                        <li class="s-meta"><%= link_to article.source.name, source_path(article.source), class: 'zm-author' %></li>
                        <li class="s-meta"><p class="zm-date" style="color: #7c8c99;"><%= time_ago_in_words(article.created_at) %> ago</p></li>
                    </ul>
                </div>
            </div>
            <div class="zm-post-content" style="min-height: 108px;">
                <%frag = Nokogiri::HTML(article.body)%>
                <%frag.xpath("//h1").each { |div|  div.name= "p"}%>
                <%frag.xpath("//h2").each { |div|  div.name= "p"}%>
                <%frag.xpath("//h3").each { |div|  div.name= "p"}%>
                <%frag.xpath("//h4").each { |div|  div.name= "p"}%>
                <%frag.xpath("//h5").each { |div|  div.name= "p"}%>
                <%frag.xpath("//h6").each { |div|  div.name= "p"}%>
                
                <%= truncate_html frag, :length => 300 %>
            </div>
        </div>
    </article>
</div>