<!-- Modal for removing article -->
<div class="modal fade" id="removeSavedArticleModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove Article</h4>
            </div>
        
            <!--form-->
            <div class="modal-body">
                <p>Are you sure you would like to remove this article from My Saved Articles?</p>
                <input type = "hidden" id="articleRemoveId" name = "articleId"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default whitehover" data-dismiss="modal" onclick="removeSavedArticle();">Remove</button>
                <button type="button" class="btn btn-default whitehover" data-dismiss="modal">Cancel</button>
            </div>
            <!--form-->
        </div>
    </div>
</div>

<!-- Modal for removing settings -->
<div class="modal fade" id="removeSettingModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove Setting</h4>
            </div>
        
            <!--form-->
            <div class="modal-body">
                <p>Are you sure you would like to remove <span id = 'removalName'></span> from your saved settings</p>
                <input type = "hidden" id="sourceRemoveId" name = "sourceId"/>
                <input type = "hidden" id="categoryRemoveId" name = "categoryId"/>
                <input type = "hidden" id="stateRemoveId" name = "stateId"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default whitehover" data-dismiss="modal" onclick="removeSavedSetting();">Remove</button>
                <button type="button" class="btn btn-default whitehover" data-dismiss="modal" onclick="clearModalVariables();">Cancel</button>
            </div>
            <!--form-->
        </div>
    </div>
</div>
    
    
<!-- Body main wrapper start -->
<div class="wrapper bg-gray">

    <!-- Start page content -->

    <div class="container margintop">
    	<div class="row">

			<div class="col-md-12 col-lg-9 col-xs-12 col-sm-12">
				<ul class="tabs">
					<li class="tab-link current " data-tab="tab-1">My Feed</li>
					<li class="tab-link" data-tab="tab-2">My Saved Articles</li>
					<li class="tab-link" data-tab="tab-3">Settings</li>
				</ul>
				
				<!--MY FEED TAB-->
				<div id="tab-1" class="tab-content current">

                    <!--instructions-->
                    <div class = "feed-instructions" style="text-align: center;">
                        <p>Visit the settings tab to control what articles appear in your feed</p>
                    </div>
                    
                    <div id = 'article-index-new'>
                        <%= render :partial => "feeditem", :collection => @recents, :as => :article %>
    				</div>
    				
    				<div class = 'article-index-new-pagination'>
                        <%= will_paginate @recents %>
                    </div>

				</div>
				<!--END MY FEED TAB-->

                <!-- Start Tab 2 - Saved Articles -->

				<div id="tab-2" class="tab-content">
				    <div class = 'ajax-spinner'>
				        <%= image_tag("icons/ajax-loader.gif") %>
				    </div>
                	<table data-role="table" data-mode="columntoggle" class="ui-responsive" id="myTable" style="width: 100%;">
						<thead>
							<tr>
								<th>Article</th>
								<!--<th data-priority="1">Source</th>-->
								<th data-priority="3">Date</th>
								<th data-priority="1" class="delbtn">Remove</th>
							</tr>
						</thead>
						<tbody>
							<!--loop through saved articles and add to row-->
							<% @savedArticles.each do |article| %>
								<tr>
									<td style="padding: 4px 4px; border-bottom: 1px solid #7c8c99"><%=link_to article.title.titlecase, article_path(article)%></td>
									
									<td style="padding: 4px 4px; border-bottom: 1px solid #7c8c99"><%= article.created_at.strftime("%B %d, %Y") %></td>
									<td class="delbtn" style="padding: 4px 4px; border-bottom: 1px solid #7c8c99">
										<span class="btn btn-default btn-sm">
											<button type="button" class="close" data-toggle="modal" data-target="#removeSavedArticleModal" onclick="setRemoveArticleId('<%=article.id%>');" data-id="<%=article.id%>">&times;</button>
										</span>
									</td>          
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>

                <!-- Start tab 3 - Settings -->

				<div id="tab-3" class="tab-content">
				    
                    <div class="miniheader">Use the following settings to organize the information in your personal feed.</div>
                    <div class="paddingsettings"></div>
                    <div class="row" style="position:relative;">
                        
                        <div class = 'ajax-spinner-source'>
    				        <%= image_tag("icons/ajax-loader.gif") %>
    				    </div>
            				    
                        <div class="padding-bottom;">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2 class="h6 header-color inline-block uppercase">Source Subscription</h2>
                            </div>      
                        </div>
                        <div class="marginbottom">&nbsp;</div>
                        <div class="marginbottom">&nbsp;</div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                            <div class="sing-option zm-source">
                                <style> /* Special Style for this page only for full width selectors */
                                .bootstrap-select:not([rclass*=col-]):not([class*=form-control]):not(.input-group-btn) {
                                    width: 100%;
                                }
                                </style>
                                
                                <select name="Source" class="selectDropdown" data-live-search="true" onChange="setSelectedSourceSave(this.value)">
                                    <option>Select Source</option>
                                    <!--only display sources user is not currently following-->
                                    <% Source.all.order("name ASC").each do |source| %>
                                        
                                        <% if current_user && !UserSource.where(:source_id => source.id, :user_id => current_user.id).any? %>
                                            <option value="<%= source.id %>"><%=source.name%></option>
                                        <% end %>
                                        
                                    <% end %>
                                </select>
                                
                            </div>
                        </div>
                    
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                            <!--hidden input to store the value adding-->
                            <input type = "hidden" id="sourceAddId" name = "sourceId"/>
                            <button class="submit-button" type="submit" onclick="addSavedSource();">Add</button>
                        </div>
                        </div>
                        <div class="paddingsettings">&nbsp;</div>
                        <div class="col-lg-12">
                            <div class="">
                                <div class="zm-tagcloud">
                                    <div class="paddingsettings">Currently Selected Sources (Click to Remove):</div>
                                    
                                    <!--loop through sources user has saved-->
                                    <% current_user.sources.each do |source| %>
                                        <button type="button" data-toggle="modal" data-target="#removeSettingModal" 
                                            onclick="setRemoveSourceSettingId('<%=source.id%>', '<%=source.name%>');" data-id="<%=source.id%>"><%=source.name%></button>
                                    <% end %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="paddingsettings"></div>
                    <div class="row" style="position:relative;">
                        
                        <div class = 'ajax-spinner-category'>
    				        <%= image_tag("icons/ajax-loader.gif") %>
    				    </div>
    				    
                        <div class="padding-bottom;">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2 class="h6 header-color inline-block uppercase">Category Subscriptions</h2>
                            </div>      
                        </div>
                        <div class="marginbottom">&nbsp;</div>
                        <div class="marginbottom">&nbsp;</div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                            <div class="sing-option zm-source">
                                <style> /* Special Style for this page only for full width selectors */
                                .bootstrap-select:not([rclass*=col-]):not([class*=form-control]):not(.input-group-btn) {
                                    width: 100%;
                                }
                                </style>
                                
                                <select name="Category" class="selectDropdown" data-live-search="true" onChange="setSelectedCategorySave(this.value)">
                                    <option>Select Category</option>
                                    <!--only display categories user is not currently following-->
                                    <% Category.all.order("name ASC").each do |category| %>
                                        
                                        <% if current_user && !UserCategory.where(:category_id => category.id, :user_id => current_user.id).any? %>
                                            <option value="<%=category.id%>"><%=category.name%></option>
                                        <% end %>
                                        
                                    <% end %>

                                </select>

                            </div>
                        </div>
                    
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                            <!--hidden input to store the value adding-->
                            <input type = "hidden" id="categoryAddId" name = "categoryId"/>
                            <button class="submit-button" type="submit" onclick="addSavedCategory();">Add</button>
                        </div>
                        </div>
                        <div class="paddingsettings">&nbsp;</div>
                        <div class="col-lg-12">
                            <div class="">
                                <div class="zm-tagcloud">
                                    <div class="paddingsettings">Currently Selected Categories (Click to Remove):</div>

                                    <!--loop through categories user has saved-->
                                    <% current_user.categories.each do |category| %>
                                    	<button type="button" data-toggle="modal" data-target="#removeSettingModal" 
                                            onclick="setRemoveCategorySettingId('<%=category.id%>', '<%=category.name%>');" data-id="<%=category.id%>"><%=category.name%></button>
                                    <% end %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="paddingsettings"></div>
                    <div class="row" style="position:relative;">
                        
                        <div class = 'ajax-spinner-state'>
    				        <%= image_tag("icons/ajax-loader.gif") %>
    				    </div>
    				    
                        <div class="padding-bottom;">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2 class="h6 header-color inline-block uppercase">State Subscriptions</h2>
                            </div>      
                        </div>
                        <div class="marginbottom">&nbsp;</div>
                        <div class="marginbottom">&nbsp;</div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                            <div class="sing-option zm-source">
                                <style> /* Special Style for this page only for full width selectors */
                                .bootstrap-select:not([rclass*=col-]):not([class*=form-control]):not(.input-group-btn) {
                                    width: 100%;
                                }
                                </style>
                                
                                <select name="State" class="selectDropdown" data-live-search="true" onChange="setSelectedStateSave(this.value)">
                                    <option>Select State</option>
                                    <!--only display states user is not currently following-->
                                    <% State.all.order("name ASC").each do |state| %>
                                        
                                        <% if current_user && !UserState.where(:state_id => state.id, :user_id => current_user.id).any? %>
                                            <option value="<%=state.id%>"><%=state.name%></option>
                                        <% end %>
                                        
                                    <% end %>
                                </select>
                                
                            </div>
                        </div>
                    
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                            <!--hidden input to store the value adding-->
                            <input type = "hidden" id="stateAddId" name = "stateId"/>
                            <button class="submit-button" type="submit" onclick="addSavedState();">Add</button>
                        </div>
                        </div>
                        <div class="paddingsettings">&nbsp;</div>
                        <div class="col-lg-12">
                            <div class="">
                                <div class="zm-tagcloud">
                                    <div class="paddingsettings">Currently Selected States (Click to Remove):</div>
                                    
                                    <!--loop through categories user has saved-->
                                    <% current_user.states.each do |state| %>
                                    	<button type="button" data-toggle="modal" data-target="#removeSettingModal" 
                                            onclick="setRemoveStateSettingId('<%=state.id%>', '<%=state.name%>');" data-id="<%=state.id%>"><%=state.name%></button>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                <!-- End tab 3 -->

			    </div>
            </div>

            <!-- Sidebars hidden on mobile -->

            <div class="col-sm-1 col-md-1 col-lg-3 col-xs-3 col-sm-3">
    		<div class="row" style="margin-bottom: 35px;">
                <div class="col-lg-12 hidden-md hidden-sm hidden-xs">
                    <div class="section-title">
                        <h2 class="h6 header-color inline-block uppercase">Trending Articles</h2>
                    </div>
                </div>
            </div>

	        <ul class="miniarticlemenu hidden-md hidden-sm hidden-xs">
	        	
	        	<!--loop through trending articles-->
	        	<% @trendingArticles.each do |article| %>
		        	<li><%= link_to article.title.truncate(60).titlecase, article_path(article) %></li>
		        <% end %>
	        </ul>

		</div>
	</div>

   <!-- End Page Content --> 
</div>
<!-- Body main wrapper end -->