<div class="product-info">
    <p style="max-height: 53px; overflow: hidden;">Produced By:
        <% product.vendors.each_with_index do |vendor, index| %>
            <% if index + 1 == product.vendors.size %>
                <%= link_to vendor.name, vendor_path(vendor), :class => 'vendor_path'%>
            <% else %>
                <%= link_to vendor.name, vendor_path(vendor), :class => 'vendor_path'%>,&nbsp;
            <% end %>
        <% end %>
    </p>
</div>
<div class="product-info">
    <p>Average Prices:
        <% product.average_prices.each_with_index do |average_price, index| %>
            <% if index + 1 == product.average_prices.size %>
                <a href="<%=product_path(product, average_price_id: average_price.id)%>" style="color: #2ab081;">
                    <%="$#{average_price.average_price.round}/#{average_price.average_price_unit}"%></a>
            <% else %>
                <a href="<%=product_path(product, average_price_id: average_price.id)%>" style="color: #2ab081;">
                    <%="$#{average_price.average_price.round}/#{average_price.average_price_unit}"%></a>,&nbsp;
            <% end %>
        <% end %>
    </p>
</div>