<!-- Start footer area -->
<footer id="footer" class="footer-wrapper footer-1">
    
    
    <!-- Start footer top area -->
    <div class="footer-top-wrap ptb-20 bg-dark">
        <div class="container">
            <div class="row">
                
                <div class="col-md-12">
                    <div class = 'footer-image'>
                        <% if Rails.env.production? %>
        				    <%= link_to image_tag("header_footer/cbz-logo-grayscale.PNG"), root_path %>
        			    <% end %>
        			</div>
        		</div>
                
            </div>
        </div>
    </div>
    <!-- End footer top area -->
    
    
    <div class="footer-buttom bg-black ptb-15">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="zm-copyright">
                        <p class="uppercase">&copy;<script>document.write(new Date().getFullYear())</script> CBZ Technologies Inc. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 text-right hidden-xs">
                    <nav class="footer-menu zm-secondary-menu text-right">
                        <ul>
                            <li><a href="<%=terms_conditions_path%>">Terms &amp; Conditions</a></li>
                            <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
                            <li><a href="<%= contact_us_path %>">Contact Us</a></li>
                            <li><a href="<%= feedback_path %>">Leave Feedback</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer area -->