<form action="#">
    <h3 align="center" style="margin-top: 10px; margin-bottom: -5px;">Refine News</h3>
    <div class="sing-option zm-trending">
        <select name="Category" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
            <option value = "<%= root_path %>">Category</option>
            <% @news_categories.each do |category| %>
                
                <% if @category != nil && @category.name == category.name %>
                    <option value = "<%=category_path(category)%>" selected="selected"><%=category.name%></option>
                <% else %>
                    <option value = "<%=category_path(category)%>"><%=category.name%></option>
                <% end %>
                
        	<% end %>
        </select>
    </div>
    <div class="sing-option zm-state">
        <select name="State" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
        	<option value = "<%= root_path %>">State</option>
        	<% @all_states.each do |state| %>
        	
        	    <% if @state != nil && @state.name == state.name %>
                    <option value = "<%=state_path(state)%>" selected="selected"><%=state.name%></option>
                <% else %>
                    <option value = "<%=state_path(state)%>"><%=state.name%></option>
                <% end %>
    
        	<% end %>
        </select>
    </div>
    <div class="sing-option zm-state">
        <select name="Source" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
            <option value = "<%= root_path %>">Source</option>
            <% @active_sources.each do |source| %>
            
                <% if @source != nil && @source.name == source.name %>
                    <option value = "<%=source_path(source)%>" selected="selected"><%=source.name%></option>
                <% else %>
                    <option value = "<%=source_path(source)%>"><%=source.name%></option>
                <% end %>
    
        	<% end %>
        </select>
    </div>
</form>