<form action="#">
    <h3 align="center" style="margin-top: 10px; margin-bottom: -5px;">What Are You Looking For?</h3>
    <div class="sing-option zm-trending">
        <select name="Category" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
            <option value = "<%= root_path %>">News</option>
            <% @news_categories.each do |category| %>
                
                <% if @category != nil && @category.name == category.name %>
                    <option value = "<%=category_path(category)%>" selected="selected"><%=category.name%></option>
                <% else %>
                    <option value = "<%=category_path(category)%>"><%=category.name%></option>
                <% end %>
                
        	<% end %>
        </select>
    </div>
    <div class="sing-option zm-state">
        <select name="State" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
        	<option value = "<%= root_path %>">States</option>
        	<% @all_states.each do |state| %>
        	
        	    <% if @state != nil && @state.name == state.name %>
                    <option value = "<%=state_path(state)%>" selected="selected"><%=state.name%></option>
                <% else %>
                    <option value = "<%=state_path(state)%>"><%=state.name%></option>
                <% end %>
    
        	<% end %>
        </select>
    </div>
    <div class="sing-option zm-state">
        <select name="Source" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
            <option value = "<%= root_path %>">Products</option>
            <% @product_categories.each do |category| %>
                
                <option value = "<%=products_path(category.name)%>"><%=category.name%></option>
    
                <% if category.name == 'Flower' %>
                    <option value="<%=products_path('Indica')%>">&nbsp&nbsp&nbsp&nbspIndica</option>
                    <option value="<%=products_path('Sativa')%>">&nbsp&nbsp&nbsp&nbspSativa</option>
                    <option value="<%=products_path('Hybrid')%>">&nbsp&nbsp&nbsp&nbspHybrid</option>
                    <option value="<%=products_path('Hybrid-Indica')%>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHybrid-Indica</option>
                    <option value="<%=products_path('Hybrid-Sativa')%>">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHybrid-Sativa</option>
                <% end %>
                
        	<% end %>
        </select>
    </div>
</form>