<section id="page-content" class="page-wrapper">
    <div class="zm-section bg-white pt-70 pb-40">
        <div class="container">
            <div class="row">
                <!-- Start left side -->
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 columns">
                    <% if @site_visitor_state.present? && !@site_visitor_state.product_state %>
                        
                        <div class="row mb-20">
                            <h3>We don't have official product data for <%= @site_visitor_state.name %> yet. Hopefully it is coming soon.</h3>
                        </div>
                    
                    <% end %>
                    <div class="row mb-40">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="section-title">
                            	<h2 class="h6 inline-block uppercase header-button active-header-button no-desktop-pointer" id ='news-button' 
                            		onClick="changeHomeSort('News')">Recent News</h2>
                            		
                            	<h2 class="mobile-homepage-h2 h6 inline-block uppercase header-button inactive-header-button" 
                            		id ='product-button' onClick="changeHomeSort('Products')">
                                	<% if @site_visitor_state != nil && @site_visitor_state.product_state %>
                                		Top Products in <%= @site_visitor_state.abbreviation%>
                                	<% else %>
                                		Top Products
                                	<% end %>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <!-- recent news articles -->
                    <div class = "homepage-recent-news">
	                    <div class="row">
	                        <div class="zm-posts clearfix">
	                        	<%= render :partial => "recent_article", :collection => @recent_articles, :as => :article %>
	                        </div>
	                    </div>
	                    <div class="viewall alignright fullwidth" style="font-size: 20px;">
	                        <%= link_to 'All News', articles_path %>
	                    </div>
					</div>
					
					<!--recent products-->
					<div class = "homepage-recent-products">
	                    <div class="row">
	                        <div class="zm-posts clearfix">
	                        	<%= render :partial => "top_product_mobile", :collection => @top_products, :as => :product %>
	                        </div>
	                    </div>
	                    <div class="viewall alignright fullwidth" style="font-size: 20px;">
	                        <%= link_to 'All Products', products_path %>
	                    </div>
					</div>				
                </div>
                <!-- End left side (recent articles)-->

                <!-- Start Right sidebar (top products) -->
                <div class="desktop-homepage col-xs-12 col-sm-12 col-md-4 col-lg-4 sidebar-warp columns">
                    <div class="row">
						<!-- Start post layout E -->
                        <aside class="zm-post-lay-e-area col-md-12 col-lg-12">
                            <div class="row mb-40">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="section-title">
                                        <h2 class="h6 inline-block uppercase header-button active-header-button no-desktop-pointer">
                                        	<% if @site_visitor_state != nil && @site_visitor_state.product_state %>
                                        		Top Products in <%= @site_visitor_state.abbreviation%>
                                        	<% else %>
                                        		Top Products
                                        	<% end %>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="zm-posts">
                                    	<!-- recent products -->
			                        	<%= render :partial => "top_product", :collection => @top_products, :as => :product %>
                                    </div>
                                </div>
                                <div class="viewall alignright fullwidth" style="font-size: 20px;">
		                            <%= link_to 'All Products', products_path %>
		                        </div>
                            </div>
                        </aside>
                        <!-- Start post layout E -->
                    </div>  
                </div>
                <!-- End Right sidebar (top products)-->
            </div>
        </div>
    </div>	