<div class="col-md-12 col-lg-6 col-sm-12">
    <article class="zm-post-lay-a1 top-product-mobile">
        <div class="zm-post-thumb">
            <!--product image --> 
            <a href="<%= product_path(product) %>">
                <% if Rails.env.production? && product.image_url != nil %>
                    <img src="<%= product.image_url(:profile_size)%>" onerror="this.src='<%= asset_path product.default_image %>'" alt="<%=product.name%>">
                <% else %>
                    <%= image_tag(product.default_image) %>
                <% end %>
            </a>
        </div>
        <div class="zm-post-dis">
            <div class="zm-post-header">

            	<!--display product tags-->
                <div class="zm-category">
                    <% if product.category.present? %>
                        <a class="bg-cat-3 cat-btn" href="<%=products_path(product.category.name)%>"><%= product.category.name %></a>
                    <% end %>
                    <!--sub category-->
                    <% if product.sub_category.present? %>
                    
                        <!--#see if it has is_dom-->
                        <% if product.is_dom.present? %>
                            
                            <% if product.is_dom == 'Indica' %>
                            
                                <a class="bg-cat-3 cat-btn" 
                                    href="<%=products_path('Hybrid-Indica')%>">Hybrid-Indica</a>
                            
                            <% else %>
                            
                                <a class="bg-cat-3 cat-btn" 
                                    href="<%=products_path('Hybrid-Sativa')%>">Hybrid-Sativa</a>
                            
                            <% end %>
                            
                        <% else %>
                            <a class="bg-cat-3 cat-btn" 
                                href="<%=products_path(product.sub_category)%>"><%= product.sub_category %></a>   
                        <% end %>
                        
                    <% end %>
                </div>
                <!--display product tags-->

                <!-- name -->
                <h2 class="zm-post-title"><a href="<%= product_path(product) %>"><%= product.name %></a></h2>

                <div class="zm-post-content">
                    <p><%=product.description.truncate(175) if product.description%></p>
                </div>

                <%= render partial: 'shared/average_price_vendor', locals: {product: product} %>
                
            </div>
        </div>
    </article>
</div>