<div class="col-2">
    <article class="zm-trending-post zm-lay-a zm-single-post" data-dark-overlay="2.5"  data-scrim-bottom="9" data-effict-zoom="3">
        <div class="zm-post-thumb" style="height: 350px;">
            <img style="height: 100%; width: auto; max-width:none;" 
                src="<%=article.image%>" onerror="this.src='<%= asset_path 'substitutes/news-substitute.jpg' %>'" alt="<%=article.title%>">
        </div>
        <div class="zm-post-dis text-white" style="top: 100px;">
            
            <!--display article tags-->
                <div class="zm-category">
                    <% article.categories.each do |category| %>
                        <a class="bg-cat-3 cat-btn" href="<%=category_path(category)%>"><%=category.name%></a>
                    <% end %>
                    <% article.states.each do |state| %>
                        <a class="bg-cat-3 cat-btn" href="<%=state_path(state)%>"><%=state.name%></a>
                    <% end %>
                </div>
            <!--display article tags-->
            
            <!-- title -->
            <h2 class="zm-post-title" style="height: 185px;"><a href="<%= article_path(article) %>"><%= article.title.truncate(60).titlecase if article.title %></a></h2>

            <!-- source and date -->
            <div class="zm-post-meta">
                <ul>
                    <li class="s-meta" style="padding: 0;"><%= link_to article.source.name, source_path(article.source), class: 'zm-author' %></li>
                    <li class="s-meta" style="padding: 0;"><p class="zm-date" style="color: #7c8c99;"><%= time_ago_in_words(article.created_at) %> ago</p></li>
                </ul>
            </div>
        </div>
    </article>
</div>