<!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- Start contact message area -->
    <div class="zm-section bg-white pt-60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="section-title-2 mb-40  text-center">
                        <h3 class="inline-block uppercase">Leave Feedback</h3>
                    </div>
                </div>
            </div>
            <div class="message-box">
            	<form id="contact-form" role="search" method="get" action = '/submit_feedback_form'>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        	<label for="form_radio">Is this your first time visiting this site?</label>
		                    <%= radio_button_tag(:firstTime, "Yes") %> <%= label_tag(:firstTime, "Yes") %> 
		                    <%= radio_button_tag(:firstTime, "No") %> <%= label_tag(:firstTime, "No") %> <br/>
		                    
		                    <label for="form_radio_2">What is the likelihood that you will visit this site again?</label>
		                    <%= radio_button_tag(:likelihood, "Very Likely") %> <%= label_tag(:likelihood, "Very Likely") %>
		                    <%= radio_button_tag(:likelihood, "Likely") %> <%= label_tag(:likelihood, "Likely") %>
		                    <%= radio_button_tag(:likelihood, "Not Likely") %> <%= label_tag(:likelihood, "Not Likely") %>
		          
	                    	<label for="form_radio_2">Did you find everything you were looking for?</label>
		                    <%= radio_button_tag(:findEverything, "Yes, all of it") %> <%= label_tag(:findEverything, "Yes, all of it") %> 
		                    <%= radio_button_tag(:findEverything, "Yes, some of it") %> <%= label_tag(:findEverything, "Yes, some of it") %> 
		                    <%= radio_button_tag(:findEverything, "No") %> <%= label_tag(:findEverything, "No") %> <br/>
		                    
		                    <label for="form_message">What is the primary reason you came to this site?</label>
	                    	<textarea id="form_message" name="primaryReason"></textarea>
		                    
		                    <!--<label for="form_message">If there was anything you didn't find, please tell us</label>-->
	                    	<!--<textarea id="form_message" name="reasonDidntFind"></textarea>-->

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        	
                        	<label for="form_radio_2">How easy is it to navigate this site?</label>
		                    <%= radio_button_tag(:easyInformation, "Very Easy") %> <%= label_tag(:easyInformation, "Very Easy") %> 
		                    <%= radio_button_tag(:easyInformation, "Easy") %> <%= label_tag(:easyInformation, "Easy") %>
		                    <%= radio_button_tag(:easyInformation, "Average") %> <%= label_tag(:easyInformation, "Average") %>
		                    <%= radio_button_tag(:easyInformation, "Difficult") %> <%= label_tag(:easyInformation, "Difficult") %>
		                    <%= radio_button_tag(:easyInformation, "Very Difficult") %> <%= label_tag(:easyInformation, "Very Difficult") %>
	                    
		                    <label for="form_message">Please add any comments you have for improving the website. We welcome suggestions on specific areas for improvements, features you would like to see added to the site, and examples of what you consider good websites.</label>
	                    	<textarea id="form_message" name="suggestion" style="height: 163px;"></textarea>
                        	
                            <!--<textarea name="message" placeholder="Type your message..."></textarea>-->
                            <button class="submit-button" type="submit">Leave Feedback</button>
                        </div>
                    </div>
                </form>
                <p class="form-messege"></p>
            </div>
        </div>
    </div>
    <!-- End contact message area -->
</section>