<style>
	.sitemap_list ul {
		list-style: initial;
	}
	
	.sitemap_list a {
		color: #2ab081;
	}
	
	.sitemap_list {
		margin-bottom: 30px;
	}
</style>

<!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- Start contact message area -->
    <div class="zm-section bg-white pt-60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="section-title-2 mb-40  text-center">
                        <h3 class="inline-block uppercase">Site Map</h3>
                    </div>
                </div>
            </div>
            <div class="message-box sitemap_list">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin: 0 auto; float: none;">
                    	<ul>
						    <li>General Pages:</li>
							    <ul style="padding-left: 20px">
							    	<li><%= link_to 'Home', root_path %></li>
							    	<% if logged_in? %>
							    		<li><%= link_to 'Logout', logout_path, method: :delete %></li>
							    		<li><%= link_to 'Change Password', change_password_path(current_user) %></li>
							    	<% else %>
							    		<li><%= link_to 'Login', login_path %></li>
							    		<li><%= link_to 'Register', signup_path %></li>
							    	<% end %>
							    	<li>
                                        <% if current_user %>
                                            <a href="<%= user_path(current_user)%>">My Page</a>
                                        <% else %>
                                            <a href="<%= login_path %>">My Page</a>
                                        <% end %>
                                    </li>
                                    <li><a href="<%= about_path %>">About</a></li>
                                    <li><a href="<%= contact_us_path %>">Contact Us</a></li>
                                    <li><a href="<%= feedback_path %>">Leave Feedback</a></li>
							        <li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
							        <li><%= link_to 'Terms & Conditions', terms_conditions_path %></li>
							    </ul>
						    <li>Sources:</li>
							    <ul style="padding-left: 20px">
							    	<% @active_sources.each do |source| %>
							    		<li><%=link_to source.name, source_path(source)%></li>
							    	<% end %>
							    </ul>
						    <li>States:</li>
							    <ul style="padding-left: 20px">
							        <% @all_states.each do |state| %>
							        	<li><%=link_to state.name, state_path(state)%></li>
							        <% end %>
							    </ul>
						    <li>Categories:</li>
							    <ul style="padding-left: 20px">
							    	<% @categories.each do |category| %>
							    		<li><%=link_to category.name, category_path(category)%></li>
							    	<% end %>
							    </ul>
						</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End contact message area -->
</section>
<!-- End page content -->