<% @cart.product_items.each do |item| %>
  <ul>
	  <li>
	    <%= item.quantity %> <%=item.dsp_price.unit%> of <%= item.product.name %> from <%=item.dispensary_source.name %>
	    <%= number_to_currency item.total_price %>
	  </li>
  </ul>
<% end %>