<!-- start page content -->
<div class="container margintop">
	<div class="row">

		<!-- options -->
	    <div class="col-sm-12 col-md-3 col-lg-3 col-xs-12 col-sm-12 paddingbottom">
		    <div class="row mb-40">
		        <div class="col-lg-12">
		            <div class="section-title">
		                <h2 class="h6 header-color inline-block uppercase">Options&nbsp;
		                	<span class = "plus-minus" data-toggle="collapse" data-target="#option-div">(-)</span></h2>
		            </div>
		        </div>
		    </div>
		    <%= form_tag refine_vendor_index_path do %>
		  		<div id = 'option-div' class="collapse in">
			        <ul class="miniarticlemenu">
			            <li class="">
			                <div>Refine By Name</div>
			                <input type="text" id='name_search' placeholder="Search" name = 'name_search' style="margin-bottom: 0px; margin: 10px 0px;">
			            </li>
			            
			            <!-- az dropdown-->
			            <li style="overflow: visible;">                                    
			            	<%= render 'shared/dropdown_az' %>
			            </li>
			            <li>
			            	<!--hidden values-->
			            	<input type = "hidden" id="az_search" name = "az_search"/>
			            	
			                <button type="submit" class="button" style="margin-bottom: 0px; margin: 10px 0px;">Refine Results</button>&nbsp;&nbsp;&nbsp;&nbsp;
			                
			                <button type="button" class="button" onclick="clearFormValues();"
			                	style="margin-bottom: 0px; margin: 10px 0px;">Clear Filters</button>
			            </li>
			        </ul>
			 	</div>
		     <% end %>
	    </div>
		<!-- options -->

		<!-- results index -->
	    <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12">
	        <div>
	            <div class="row mb-40">
	                <div class="col-lg-12">
	                    <div class="section-title">
	                        <h2 class="h6 header-color inline-block uppercase">Vendors</h2>
	                    </div>
	                </div>
	            </div>   
	        </div>

	        <div class="mb-20">
	        	<%= page_entries_info @vendors, :model => 'Vendors'%> 
	        	<% if @search_string != nil && @search_string != ''%>
	        		for <%= @search_string %>
	        	<% end %>
	        </div>

	        <!-- Dispensary Results Section -->
	        <div class="row">
	            <div class="col-md-12">
	                <article class="zm-post-lay-single">
	                    <div class="zm-post-thumb">
	                    </div>
	                    <div>
	                        <div class="row">
	                        	<!-- render with _vendor partial -->
	    						<%= render @vendors %>
	                        </div>
	                    </div>
	                </article>
	            </div>
	        </div>
	    </div> <!-- end table -->
		<!-- results index -->

		<!-- Start pagination area -->
	    <div class="row hidden-xs">
	        <div class="zm-pagination-wrap mt-30">
	            <nav class="zm-pagination ptb-40 text-center">
	            	<%= will_paginate @vendors, params: params %>
	            </nav>
	        </div>
	    </div>

	 </div> <!-- end row -->
</div> <!-- end container -->