<!-- Start page content -->
<div id="page-content" class="page-wrapper">
    <div class="zm-section single-post-wrap bg-white ptb-70">
        <div class="container">
            <div class="row">
                <!-- Start left side -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columns">
                    <div class="row mb-40">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="section-title">
                                <h2 itemprop="name" class="h6 header-color inline-block uppercase"><%=@vendor.name%></h2>
                            </div>                                
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start single post image formate-->
                        <div class="col-md-12">
                            <article class="zm-post-lay-single">
                                <div class="zm-post-dis">
                                    <div class="col-md-4 mb-40 product-show-image"  style="padding-left: 0px !important;">
                                        <% if @vendor.image.present? %> 
                                            <img alt= "<%=@vendor.name%>" src="<%= @vendor.image_url(:product_show)%>" style = "border: 1px solid black; background-color: #2ab081">
                                        <% else %>
                                            <img alt= "<%=@vendor.name%>" src="<%= asset_path 'substitutes/vendor-substitute.jpg' %>" style = "border: 1px solid black; background-color: #2ab081">
                                        <% end %>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div itemprop="description">
                                        <%=@vendor.description%>
                                    </div>
                                    <div class ="order-vendor-info">
                                        <% if @vendor.states.any? %>
                                    		<p><span class="title">State Serviced:</span> 
                                    		    <% @vendor.states.each do |state| %>
                                    		        <%= state.name %>&nbsp;
                                    		    <% end %>
                                    		</p>
                                    	<% end %>
                                    	<% if @vendor.tier.present? %>
                                    		<p><span class="title">Tier:</span> <%=@vendor.tier%></p>
                                    	<% end %>
                                    	<% if @vendor.vendor_type.present? %>
                                    		<p><span class="title">Type:</span> <%=@vendor.vendor_type%></p>
                                    	<% end %>
                                    	<% if @vendor.address.present? %>
                                    		<p><span class="title">Address:</span> <%=@vendor.address%></p>
                                    	<% end %>
                                    	<% if @vendor.total_sales.present? %>
                                    		<p><span class="title">Total Sales:</span> <%=number_to_currency(@vendor.total_sales, :unit => '$')%></p>
                                    	<% end %>
                                    	<% if @vendor.license_number.present? %>
                                    		<p><span class="title">License Number:</span> <%=@vendor.license_number%></p>
                                    	<% end %>
                                    	<% if @vendor.ubi_number.present? %>
                                    		<p><span class="title">UBI Number:</span> <%=@vendor.ubi_number%></p>
                                    	<% end %>
                                    	<% if @vendor.dba.present? %>
                                    		<p><span class="title">DBA:</span> <%=@vendor.dba%></p>
                                    	<% end %>
                                    	<% if @vendor.month_inc.present? && @vendor.year_inc.present? %>
                                    		<p><span class="title">Incorporated:</span> <%=@vendor.month_inc%> <%=@vendor.year_inc%></p>
                                    	<% end %>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- End single post image formate -->
                    </div>
                </div>
                <!-- End left side -->
            </div>
        </div>
    </div>
</div>
<!-- Start Products -->
<div id="page-content" class="page-wrapper">
    <div class="zm-section single-post-wrap bg-white">
        <div class="container">
            <div class="row">
                <!-- Start left side -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columns">
                    <div class="row mb-40">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="section-title">
                                <h2 class="h6 header-color inline-block uppercase">Products Produced</h2>
                            </div>                                
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start single post image formate-->
                        <div class="col-md-12">
                            <article class="zm-post-lay-single">
                                <div class="zm-post-thumb">
                                </div>
                                <div class="rowspacer">
                                    <div class="row desktop-homepage">
                                        <!--vendor products-->
                                        <%= render :partial => "products/similar_product", :collection => @vendor_products, :as => :product %>
                                    </div>
                                    <div class="row mobile-homepage">
        		                        <div class="zm-posts clearfix indexed-products">
        		                        	<%= render :partial => "pages/top_product_mobile", :collection => @vendor_products, :as => :product %>
        		                        </div>
        		                    </div>
            					</div>
                            </article>
                        </div>
                    </div>
            	</div>
            	<!-- Start pagination area -->
        		<div class ="hidden-xs"></div>
        	    <div class="row vendor-show-pagination">
        	        <div class="zm-pagination-wrap mt-30">
        	            <nav class="zm-pagination ptb-40 text-center">
        	            	<%= will_paginate @vendor_products %>
        	            </nav>
        	        </div>
        	    </div>
            </div> <!-- end row --> 
        </div> <!-- end container -->
    </div>
</div>