<!-- individual dispensary on average price show -->
<% if @dispensary_to_product.has_key?(dispSource.id) %>

    <div class="col-md-3 productspacer ind-avg-price">
    	<!-- dispensary image -->
    	<a href="<%= dispensary_path(dispSource.dispensary) %>">
            <% if dispSource.dispensary.image.present? && !dispSource.dispensary.image.to_s.downcase.include?("missing") %>
                <img src="<%=dispSource.dispensary.image_url(:product_show)%>" onerror="this.src='<%= asset_path 'substitutes/disp-substitute.jpg' %>'" alt="<%=dispSource.name%>">
            <% else %>
                <%=image_tag('substitutes/disp-substitute.jpg')%>
            <% end %>
        </a>
        <div class="description">
            <!-- Start single productitem-->
            <article class="overflow">                                     
                <div class="zm-post-dis">
                    <div class="zm-post-header">
                        <div class="price">
                            <% if dispSource.city.present? %>
                                <%= "#{dispSource.city}, #{dispSource.state.name}"%>
                            <% else %>
                                <%= dispSource.state.name %>
                            <% end %>
                        </div>           
                        <h5 class="h5height">
                            <%=link_to dispSource.name, dispensary_path(dispSource)%>
                        </h5>
                    </div>
                    <div class="average_price_at_disp">
                        <% @dispensary_to_product[dispSource.id].dsp_prices.each do |price_row| %>
                            <% if price_row.unit == @average_price.average_price_unit %>
                                <p style="font-size: 16px;">$<%=price_row.price%> per <%=price_row.unit%>   
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </article>
            <!-- End single productitem-->
        </div>
    </div>
<% end %>