<style>
	table td {
        text-align: center;
    }
</style>
<div class="col-md-12 mt-20">
    <div class="title">Average Prices</div>
    <table class="table table-striped table-bordered table-inverse">
    	<!--average price units are the headers-->
    	<thead>
    		<tr>
    			<% @product.average_prices.each do |average_price| %>
    				<th style="text-align: center;"><%=average_price.average_price_unit%></th>
    			<% end %>
    		</tr>	
		</thead>
			<tr>
				<% @product.average_prices.each_with_index do |average_price, index| %>
					
                    <% if index == 0 %>
    					<td><span itemprop="price">
    					    <% if @searched_state.present? %>
    					        <a href="<%=product_path(@product, average_price_id: average_price.id, state_id: @searched_state.id)%>" style="color: #2ab081;">
                                    <%="$#{average_price.average_price}"%></a>
    					    <% else %>
    					        <a href="<%=product_path(@product, average_price_id: average_price.id)%>" style="color: #2ab081;">
                                    <%="$#{average_price.average_price}"%></a>
    					    <% end %>
    					 </span></td>
    				<% else %>
    					<td>
    					    <% if @searched_state.present? %>
    					        <a href="<%=product_path(@product, average_price_id: average_price.id, state_id: @searched_state.id)%>" style="color: #2ab081;">
                                    <%="$#{average_price.average_price}"%></a>
                            <% else %>
                                <a href="<%=product_path(@product, average_price_id: average_price.id)%>" style="color: #2ab081;">
                                    <%="$#{average_price.average_price}"%></a>
                            <% end %>
    			        </td>
    				<% end %>
    			<% end %>
			</tr>
    </table>
</div>