<div class="col-md-12 mt-20">
    <!--modal-->
    <div id="addToCartModal" class="modal" role="dialog"></div>
    
    <!-- state dropdown -->
    <div style="overflow: visible; float: right;">
        <%= form_tag change_state_product_path do |f| %>
            <div style ="display: inline-block; width: 160px;">
                <%= render 'shared/dropdown_states' %>    
            </div>
            <% if @average_price.present? %>
                <%= hidden_field_tag 'average_price_id', @average_price.id %>
            <% end %>
            <div style ="display: inline-block;">
                 <button type="submit" class="button" style="margin-bottom: 0px; margin: 10px 0px;">Change State</button>   
            </div>
        <% end %>
    </div>
    
    <div class="title">
        <% if @average_price.present? %>
            Pricing at or below the Average Price of $<%=@average_price.average_price %> per <%= @average_price.average_price_unit %>
            <% if @searched_state.present? %>
                <%= link_to 'Clear Average Price', product_path(@product, state_id: @searched_state.id) %>
            <% else %>
                <%= link_to 'Clear Average Price', product_path(@product) %>
            <% end %>
        <% else %>
            Pricing
        <% end %>
    </div>
    <!-- table -->
    <table id="product-price-table" class="display" style="width: 100% !important;">
        <thead>
            <tr>
                <th>Dispensary</th>
                <th>Location</th>
                <% if (session[:product_state] || !Rails.env.production?) &&
                    (@searched_state == nil || @searched_state.id == @site_visitor_state.id) %>
                    <th>Buy</th>
                <% end %>
                <% if @table_header_options.present? %>
                    <% @table_header_options.each do |unit| %>
                        <th><%= unit %></th>
                    <% end %>
                <% end %>
            </tr>
        </thead>

        <!--loop through dispensaries-->
        <% @dispensary_to_product.each do |dispensary_source, product| %>
            <tr>

                <td class="dispensary-td">
                    <%=link_to dispensary_source.name, dispensary_path(dispensary_source.dispensary)%>
                </td>
                <td>
                    <%=dispensary_source.location%>
                </td>
                <% if session[:product_state] || !Rails.env.production? &&
                    (@searched_state == nil || @searched_state.id == @site_visitor_state.id) %>
                    <td>
                        <% if dispensary_source.admin_user_id.present? && 
                            (dispensary_source.dispensary.has_payqwick || dispensary_source.dispensary.has_hypur) %>
                            
                            <i class="fa fa-shopping-cart"></i>
                            <%= link_to 'Add To Cart', 
                                add_to_cart_path(:product_id => @product.id, :dispensary_source_id => dispensary_source.id),
                                {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#addToCartModal'}  %>
    				    <% end %>
    				</td>
    			<% end %>
    			<% if @table_header_options.present? %>
                    <% @table_header_options.each do |unit| %>
                        <% index_count = 0 %>
                        <% product.dsp_prices.each do |dps| %>
                            <% if unit.to_s == dps.unit.to_s && index_count == 0 %>
                                <% index_count += 1 %>
                                <td>$<%=dps.price.to_f %></td>
                            <% end %>
                        <% end %>
                        <% unless index_count == 1 %>
                            <td>--</td>
                        <% end %>
                    <% end %>
                <% end %>
<!-- 
				<%# 
                    i = 0
                    loop do 
                        #if value.dsp_prices.where(display_order: i).any?
                        dsps = product.dsp_prices.order('display_order ASC').select { |dsp| dsp.display_order == i }
                        if dsps.size > 0
                %>
                            <td style="text-align:center;">$<%#=dsps.map{|d| d.price} %></td>    
                        <%# else %>
                            <td style="text-align:center;">--</td>
                        <%# end
                        #break if i + 1 == @table_header_options.length
                        #i += 1
                    #end
                %> -->
            </tr>
        <% end %>
    </table>
</div>